.confirm-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirm-modal-body {
    margin-top: 1rem;
}

.confirm-modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.confirm-modal-footer {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    button {
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #fff;
    }
}

